.ac25-full-red-custom-dev {
	width: 100%;
	background: #e61c37;
	padding:20px 10px;
	font-size: 28px;
	display: inline-block;
	color:#fff !important;
	text-align: center;
	border-bottom: 1px solid white;
	bottom:-32px !important
}
.ac25-top-right-hand.ac25-z-1 {
	z-index: 10 !important;
}

.modal-custom-dev {
	display: none;
	z-index: 1000;
	position: fixed;
	height: 100%;
}
.ac25-full-red-custom-dev.without-bottom {
	bottom: 0 !important;
}